/*SCROLL*/

html, body {
    margin: 0;
}


section {
    width: 100vw;
    position: relative;
    text-align: center;
}

section > span {
    font-size: 25px;
    text-align: left;
    color: white;
    position: relative;
    display: block;
    height: 0;
    width: 45vw;
    margin-left: 27.5vw;
    overflow: visible;
    top: 40%;
}

.panel {
    height: 100vh;
    width: 100vw;
    position: absolute;
    text-align: center;
}


.intro {
    background-color: black;
    height: 100vh;
}


/* loog */
.logo {  
    z-index: 10;
}

.logo img{
    width: 50vw;
    height: 33vw;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-25vw;/* half width*/
    margin-top:-16.5vw;

}

/*panel 1*/
.one {
    background-color: black;
}

.bg{
    width: 100vw;
    height: 100vw;
    position: absolute;
    background-color: black;
    background-image: url("../media/bg.gif");
    background-size: cover; 
}

.oneimg{
    position: relative;
    width: 33.33%;
    margin: 0%;
    padding: 0%;
    float: left;
}

.contraption{
    position: absolute;
    width: 20.8vw;
    margin-left: -47.45vw;
    margin-top: 5.65vw;
}

.bielle1{
    position: absolute;
    width: 16.3vw;
    height: 32.1vw;
    margin-left: 4.8vw;
    margin-top: 31.1vw;
    background-image: url("../media/4.jpg");
    background-size: cover;
}

.bielle1:hover{
    background-image: url("../media/5.jpg");
}

.plexi1{
    position: absolute;
    width: 21vw;
    height: 15vw;
    margin-left: -45vw;
    margin-top: 82.5vw;
}

.bielle2{
    position: absolute;
    width: 20.5vw;
    height: 20.5vw;
    margin-left: 38vw;
    margin-top: 5.25vw;
    background-image: url("../media/bielle2.png");
    background-size: cover;
}

.bielle3{
    position: absolute;
    width: 14vw;
    height: 21.6vw;
    margin-left: 40.5vw;
    margin-top: 59.5vw;
    background-image: url("../media/bielle3.jpg");
    background-size: cover;
}

.coinanim{
    position: absolute;
    width: 7vw;
    height: 7vw;
    margin-left: 7.3vw;
    margin-top: 77.5vw;
}

.cremaillere{
    position: absolute;
    width: 14vw;
    height: 14vw;
    margin-left: 30vw;
    margin-top: 18.7vw;
}

.cloth{
    position: absolute;
    width: 14vw;
    margin-left: 15vw;
    margin-top: 17vw;
}

.plexi2{
    position: absolute;
    width: 20.2vw;
    height: 16.5vw;
    margin-left: 21.3vw;
    margin-top: 50.4vw;
}

.plexi3{
    position: absolute;
    width: 20.2vw;
    height: 16.5vw;
    margin-left: 21.3vw;
    margin-top: 77.8vw;
}

/* WARNING MESSAGE */
.warning {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    z-index: 99;
    top: 0;
}

.warning > b {
    font-size: 18px;
    color: white;
    position: relative;
    display: block;
    height: 0;
    overflow: visible;
    top: 50%;
}

@media only screen and (min-width: 850px) {
    .warning {
        z-index: -99;
    }


    .warning {
        -webkit-transition: background-color ease 0.5s;
        -moz-transition: background-color ease 0.5s;
        -ms-transition: background-color ease 0.5s;
        -o-transition: background-color ease 0.5s;
        transition: background-color ease 0.5s;

    }

}


